<!DOCTYPE HTML>

<html>
	<head>
		<title>My Favorite Thing</title>
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	 crossorigin="anonymous">

	</head>
	<body>
    <style>
      h1 {
        color: #87CEEB;
      }
      em {
        color: red;
      }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/myfav">My favs</a>
          <a class="nav-item nav-link" href="/review">Review</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1 class="mt-5 mb-5"> Sunscreens </h1>
      <img src="https://www.scienceinschool.org/sites/default/files/articleContentImages/48/sunscreen/issue48_sunscreen_starter_.jpg" class="img-fluid mb-5" alt="Responsive image">
      <h2 class="mb-5"> Benefits of sunscreens </h2>
      <div class="row">
        <div class="col-12 col-md-4">
          <h2> 1. Reduce the Signs of <em> Aging </em> </h2>
          <p> If you want to reduce the signs of aging, then make sunscreen your friend. Going out in the sun without protection can damage the collagen and connective tissues of your skin — and that means you can lose elasticity and gain wrinkles.</p>
        </div>
        <div class="col-12 col-md-4">
          <h2> 2. Limit the Appearance of <em> Sunspots </em></h2>
          <p> Being exposed to the sun’s UV rays can also cause sunspots (also known as “age spots” or “liver spots”), which is a culprit in increasing the look of aging. Sunspots are caused by hyperpigmentation of the skin and are typically flat areas of discolored skin that can be different shades of brown.</p>
        </div>
        <div class="col-12 col-md-4 mb-5">
          <h2> 3. Protect the Skin from <em> Sunburn </em> </h2>
          <p> Too much sun exposure or exposure to UV light (such as tanning beds), without protection, could result in a painful burn. With repeated sun exposure and no protection, you could see increased sunspots and skin damage. Sunburn can also increase the risk of developing skin cancer. </p>
        </div>
      </div>
      <h2> Enough for the info. Why am I obsessed with sunscreens? </h2>
      <ul>
        <li> Thailand's UV index is always 11+ which can make you a chocolate whenb going out. But sunscreens help prevents that. </li>
        <li> I am very easy to tan </li>
        <li> My skin becomes rough when exposed to an amount of Thai sunlight.</li>
        <li> I love having white skin (I'm tan tho) </li>
      </ul>
    </div>
	</body>
</html>