<!DOCTYPE HTML>

<html>
  <head>
		<title>My Favorite Thing</title>
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	 crossorigin="anonymous">

	</head>
  <body>
    <style>
      h1 {
        color: #87CEEB;
      }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home </a>
          <a class="nav-item nav-link active" href="/myfav">My favs <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/review">Review</a>
        </div>
      </div>
    </nav>
    <h1 class="mt-5 mb-5 mx-5"> My favourite sunscreens </h2>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card">
            <img src="https://storage.googleapis.com/jagodonet/jagodonet/2020/08/132d1752-gel-s%E1%BB%AFa-ch%E1%BB%91ng-n%E1%BA%AFng-shiseido-senka-perfect-uv-80g.jpg">
            <h3 class="ps-2"> Shiseido Senka perfect UV gel waterproof </h3>
            <p class="ps-4"> Senka's Perfect UV Gel with SPF50+PA++++ protects skin from UV Rays that causes dark spots and freckles. </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <img src="https://s1.konvy.com/static/team/2020/0224/15825113463396_600x600.jpg">
            <h3 class="ps-2"> Anessa, Perfect UV Sunscreen skincare milk </h3>
            <p class="ps-4">  Anessa's all-time best-selling sunscreen, golden formula, Perfect UV Sunscreen skincare milk SPF50+ PA++++ of Shiseido's legend, no matter how strong the sun is. very good waterproof You can swim in the sea Because this formula is water resistant, you can take it to the beach. not sticky, not oily The texture is a milky lotion that is light, easy to spread. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card">
            <img src="https://console.multybeauty.com/backoffice/uploads/products/20191007052617B4cS.jpg">
            <h3 class="ps-2"> MizuMi UV Water Serum </h3>
            <p class="ps-4"> Sunscreen mizumi UV Water Serum SPF50+ PA++++ First time mizumi sunscreen, 100% chemical-free water-based sunscreen,
            light as water but maximum protection from UVA1/A/B
            for sensitive skin, 5-FREE formula. (No fragrances, oils, parabens, alcohol and synthetic colors) </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <img src="https://cf.shopee.co.th/file/8d54384ecd107c32332b551ec1a31f2d">
            <h3 class="ps-2"> Banana Boat Sport Sunscreen Lotion </h3> 
            <p class="ps-4"> SPF50+PA+++ 90ml Sunscreen formulated for all outdoor sports. light cream Not sticky, absorbs quickly, does not clog pores. Protects skin from both UVA and UVB rays and is waterproof. </p>
          </div>
        </div>
      </div>  
    </div>
  </body>
</html>