<!DOCTYPE HTML>

<html>
	<head>
		<title>My Favorite Thing</title>
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	 crossorigin="anonymous">

	</head>
  <body>
    <style>
      h1 {
        color: #87CEEB;
      }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/myfav">My favs</a>
          <a class="nav-item nav-link active" href="/review">Review <span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
    <h1 class="mt-5 mb-5 mx-5"> My own review for each sunscreen! </h1>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="ps-2"> Shiseido Senka perfect UV gel waterproof </h3>
          <p class="ps-4"> This suncreen is the hero of my skin. It saved me from the arduous outdoor cheerleader training. It is waterproof and is not oily at all. It has a milky texture and dries quickly when applied. </p>
        </div>
        <div class="col-12 col-md-6">
          <h3 class="ps-2"> Anessa, Perfect UV Sunscreen skincare milk </h3>
          <p class="ps-4"> Anessa, just a replacement of Senka. They are the same in quality and feels the same. This come in handy when Senka is out of stock(often). However, this sunscreen emits a signature smell which I don't like. 
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="ps-2"> MizuMi UV Water Serum </h3>
          <p class="ps-4"> Mizumi, for me gives an extra light feeling. It feels like nothing when applied on face. And it is the only lightweight sunscreen that is not oily when it's on my face.</p>
        </div>
        <div class="col-12 col-md-6">
          <h3 class="ps-2"> Banana Boat Sport Sunscreen Lotion </h3> 
          <p class="ps-4"> This is my main body sunscreen when doing outdoor activites(especially cheerleadung). This one is very sticky so I use it only when going outdoor for a long time. Despite the stickiness. this sunscreen helps a lot, protecting my arms and legs from burning.</p>
        </div>
      </div> 
    </div>  
  </body>
</html>
